body {
    min-height: 100vh;
}

nav {
    padding: 10px 20px !important;
}

h1 {
    margin-top: 30px;
    color: salmon;
}

legend {
    padding-top: 0 !important;
}

table a {
    text-decoration: none;
    color: gray;
}

input {
    margin-bottom: 20px;
}

.card {
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.199) 0px 25px 20px -20px;
    border: none;
}
.card-infos {
    background: #6767673e;
}
.card-secondary {
    background: #dbdbdb56;
}

.chambres .card {
    padding: 0;
    border: 1px solid #ccc;
}

.badge-success {
    background: rgb(77, 183, 109);
}
.badge-primary {
    background: #185fa7;
}

button {
    display: block;
    margin-bottom: 20px !important;
}
.btn {
    margin-bottom: 20px !important;
}

.alert {
    transition: all 0.5s ease-in-out; /* Add sliding animation */
}

.hidden {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 0;
}